
body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: navy;
    
}


h1 {
    font-family: 'Style Script', cursive;
    margin: 0;
    padding-top: 100px;
    font-size: 5rem;
    color: darkgreen;
    
}

h2, h3 {
    color: lightseagreen;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.intro {
    font-size: 2.5rem;
    color: darkgreen;
    font-weight: normal;
    font-family: 'Handjet', cursive;


}

.top-container {
    background-color: rgb(210, 226, 221);
}

.cloud1 {
    position:absolute ;
    right: 100px;
    top: 10px;
}


.cloud2 {
    position: absolute;
    left: 100px;
    bottom: 200px;
}



.about-me {
    width: 50%;
    margin: 30px auto;
}

.about-image {
    width: 30%;
    height: auto;
}

.abou-paragraph {
    line-height: 2;
}



.my-skills {
    width: 60%;
    margin: auto;
    
}

.skills-table {
    text-align: left;
    line-height: 2;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.skill-image2 {
    margin-left: 40px;
}

.design-pics {
    margin: auto 10px;
}